// -----------
// Front Page
.isg-front-page{
	.single-front-section{
		.ht-s-title{
			margin: 0 0 16px;
			font-size: 28px;
			font-weight: 400;
			color: #fff;
			@media (min-width: $screen-sm-min){
				font-size: 36px;
			}
		}
		.ht-s-subtitle{
			line-height: 24px;
			font-weight: 400;
			color: $grey600;
		}
		.has-bdb{
			position: relative;
			padding-bottom: 28px;
			margin: 0 0 0;
			&:after{
				content: "";
				display: block;
				position: absolute;
				width: 80px; height: 2px;
				bottom: 0; left: 0;
				background-color: #e0e0e0;
			}
			&.text-center{
				&:after{
					left: 50%;
					margin-left: -40px;
				}
			}
		}
	}
}
.isg-front-jumbotron{
	background-color: #555;
	padding: 50px 0 0;
	.ht-inner{
		padding: 48px 0;
	}
	.j-title{
		position: relative;
		margin: 0 0 28px;
		padding: 0 12px 28px;
		line-height: 1.4;
		font-size: 20px;
		font-weight: 400;
		color: #fff;
		&:after{
			content: "";
			display: block;
			position: absolute;
			width: 72px; height: 2px;
			bottom: 0; left: 50%;
			margin-left: -36px;
			background-color:  #fff;
		}
	}
	.j-subtitle{
		margin: 24px 0;
		padding: 0 12px;
		color: #fff;
		.main-quote{
			position: relative;
			font-size: 16px;
			font-weight: 300;
			i.fa{
				display: inline-block;
				position: relative;
				top: -4px;
				font-size: 14px;
				color: $grey600;
				&.fa-quote-left{
					left: -8px;
				}
				&.fa-quote-right{
					right: -8px;
				}
			}
		}
	}
	.j-action{
		margin: 48px 0 0;
		.btn{
			font-size: 16px;
		}
	}
	@media (min-width: $screen-md-min){
		padding: 72px 0 0;
		.ht-inner{
			padding: 72px 0;
		}
		.j-title{
			margin: 0 0 56px;
			padding: 0 12px 48px;
			font-size: 28px;
		}
		.j-subtitle{
			margin: 36px 0;
			padding: 0 24px;
			.main-quote{
				font-size: 24px;
			}
		}
		.j-action{
			margin: 72px 0 0;
			.btn{
				font-size: 18px;
			}
		}
	}
	@media (min-width: $screen-lg-min){
		.j-title{
			font-size: 32px;
		}
	}
}

.isg-system-intro{
	padding: 48px 0;
	@media (min-width: $screen-sm-min){
		padding: 72px 0;
	}
	@media (min-width: $screen-md-min){
		padding: 96px 0;
	}
	// @media (min-width: $screen-lg-min){
	// 	padding: 112px 0;
	// }
	.isg-system-intro_wrapper{
		@media (min-width: $screen-md-min){
			display: flex;
			align-items: center;
		}
		.isg-intro-content{
			text-align: center;
			@media (min-width: $screen-md-min){
				flex: 1 1 auto;
				min-width: 0 0 auto;
				padding: 0 48px 0 0;
				text-align: left;
			}
			@media (min-width: $screen-lg-min){
				padding: 0 56px 0 0;
			}
			.j-title{
				position: relative;
				margin: 0 0 24px;
				padding: 0 24px 24px 0;
				line-height: 1.5;
				font-size: 24px;
				font-weight: 300;
				color: $grey900;
				&:after{
					content: "";
					display: block;
					position: absolute;
					width: 72px; height: 2px;
					bottom: 0; left: 50%; margin-left: -36px;
					background-color: #e0e0e0;
					@media (min-width: $screen-md-min){
						bottom: 0; left: 0; margin-left: 0;
					}
				}
				@media (min-width: $screen-md-min){
					font-size: 28px;
					margin: 0 0 28px;
					padding: 0 0 28px 0;
				}
				@media (min-width: $screen-lg-min){
					font-size: 32px;
					margin: 0 0 32px;
					padding: 0 0 32px 0;
				}
			}
			.j-subtitle{
				margin: 24px 0;
				padding: 0 12px 0 0;
				color: $grey700;
				.main-quote{
					position: relative;
					line-height: 1.5;
					font-size: 15px;
					font-weight: 400;
					font-style: italic;
					@media (min-width: $screen-md-min){
						font-size: 18px;
					}
					i.fa{
						display: inline-block;
						position: relative;
						top: -4px;
						font-size: 14px;
						font-style: italic;
						color: $grey600;
						&.fa-quote-left{
							left: -4px;
							padding-right: 4px;
							font-size: 13px;
						}
						&.fa-quote-right{
							right: -4px;
							padding-left: 4px;
							font-size: 13px;
						}
					}
				}
			}
			.j-action{
				margin: 24px 0 0;
				padding: 12px 0;
				.btn{
					font-size: 16px;
				}
			}
		}
		.isg-intro-video{
			position: relative;
			margin: 48px auto 0;
			border: 12px solid #eee;
			@media (max-width: $screen-sm-max){
				max-width: 480px;
			}
			@media (min-width: $screen-md-min){
				flex: 0 0 480px;
				min-width: 0;
				margin: 0 0 0 24px;
			}
			@media (min-width: $screen-lg-min){
				flex: 0 0 580px;
				min-width: 0;
				margin: 0 -12px 0 24px;
			}
			@media (min-width: 1440px){
				margin: 0 -60px 0 24px;
			}
			.isg-intro-video_wrapper{
				// width: 560px;
			}
			.embed-responsive{
				position: relative;
				z-index: 50;
			}
			.video-featured-image{
				display: block;
				position: absolute;
				top: 0; left: 0; right: 0; bottom: 0;
				background-color: red;
				z-index: 60;
				cursor: pointer;
				i.fa{
					position: absolute;
					display: block;
					top: 50%; left: 50%;
					margin-top: -48px; margin-left: -48px;
					width: 96px;
					height: 96px;
					line-height: 96px;
					font-size: 48px;
					text-align: center;
					color: rgba(#fff,.4);
					@include transition(transform .2s ease-in-out, color .2s ease-in-out);
				}
				&:hover{
					i.fa{
						@include scale(1.5);
						color: #fff;
					}
				}
			}
		}
	}
	.try-now-btn{
		height: 56px;
		padding: 15px 36px;
		font-size: 20px !important;
		line-height: 24px;
		border-radius: 30px;
	}
}

.isg-system-features{
	overflow: hidden;
	.system-features-container{
		position: relative;
		padding: 24px 0;
		margin: 24px auto;
		// background-color: $grey300;
		@media (min-width: $screen-lg-min){
			height: 480px;
			margin: 156px auto;
			padding: 0;
			background-image: url(../img/background-system.png);
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	.system-center-review{
		@media (min-width: $screen-lg-min){
			padding: 100px 0;
		}
		.content-wrapper{
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
			width: 280px;
			height: 280px;
			border-radius: 50%;
			background-color: #fff;
			box-shadow: 0 1px 5px rgba(#000,.12);
		}
		.system__logo{
			margin: 8px 0;
			img{
				display: inline-block;
				vertical-align: top;
				height: 48px;
			}
		}
		.system__slogan{
			margin: 6px 0;
			line-height: 20px;
			font-size: 16px;
			color: $grey600;
		}
		.center-divider{
			margin: 16px auto;
			width: 80px;
			height: 1px;
			background-color: #e0e0e0;
		}
		.system__actions{
			margin: 6px 0;
		}
	}
	.grid-circle{
		display: none;
		width: 400px;
		height: 600px;
		border: 1px solid #ccc;
		border-radius: 50%;
		position: absolute;
		top: 50%; left: 50%;
		@include translate(-50%, -50%);
		z-index: 1000;
	}
	.list-system-features{
		@media (max-width: $screen-md-max){
			margin-top: 24px;
		}
		a{
			&:hover, &:active, &:focus{
				text-decoration: none;
			}
		}
		.single-system-feature{
			width: 300px;
			@media (max-width: $screen-md-max){
				position: relative;
				margin: 12px auto;
				// padding: 0 0 0 42px;
				text-align: center;
			}
			@media (min-width: $screen-lg-min){
				position: absolute;
				width: 340px;
			}
			// .system__order-number{
			// 	position: absolute;
			// 	top: 30px; right: 100%; margin-right: 6px;
			// 	line-height: 36px;
			// 	width: 36px;
			// 	font-size: 18px;
			// 	font-weight: 700;
			// 	white-space: nowrap;
			// 	text-align: center;
			// 	color: #fff;
			// 	z-index: 110;
			// 	background-color: material-color('blue','400');
			// 	border-radius: 18px;
			// 	@media (max-width: $screen-md-max){
			// 		top: 22px !important;
			// 		margin-right: -36px;
			// 	}
			// }
			.system__detail-wrap{
				display: block;
				position: relative;
				z-index: 120;
				display: flex;
				align-items: center;
				padding: 12px 36px 12px 12px;
				background-color: #fff;
				box-shadow: 0 1px 3px rgba(#000,.08);
				border-radius: 48px;

				.system__featured-image{
					flex: 0 0 auto;
					min-width: 0;
					width: 56px;
					height: 56px;
					background-color: $grey300;
					border-radius: 50%;
					@media (min-width: $screen-lg-min){
						width: 72px;
						height: 72px;
					}
				}
				.system__introduction{
					flex: 1 1 auto;
					min-width: 0;
					padding: 0 12px;
					.system__title{
						margin: 0;
						padding: 0;
						line-height: 20px;
						font-size: 16px;
						font-weight: 400;
						color: $grey900;
						@media (min-width: $screen-lg-min){
							line-height: 27px;
							font-size: 20px;
						}
					}
				}
				&:after{
					content: "\f3d3";
					display: block;
					position: absolute;
					top: 30px; right: 12px;
					padding: 0 2px;
					line-height: 36px;
					font-size: 28px;
					font-family: "Ionicons";
			    speak: none;
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    text-rendering: auto;
			    text-align: center;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    color: $grey700;
				}
				&:hover{
					box-shadow: 0 3px 8px rgba(#000,.12);
				}
			}
			&.reversed{
				@media (min-width: $screen-lg-min){
					// .system__order-number{
					// 	left: 100%; right: auto;
					// 	margin-left: 6px; margin-right: auto;
					// }
					.system__detail-wrap{
						flex-direction: row-reverse;
						padding: 12px 12px 12px 36px;
						.system__introduction{
							text-align: right;
						}
						&:after{
							content: "\f3d2";
							padding: 0 1px 0 0;
							right: auto; left: 12px;
						}
					}
				}
			}
			&:nth-child(1){
				.system__order-number{
					background-color: material-color('blue','400');
				}
			}
			&:nth-child(2){
				.system__order-number{
					background-color: material-color('orange','400');
				}
			}
			&:nth-child(3){
				.system__order-number{
					background-color: material-color('cyan','400');
				}
			}
			// --
			&:nth-child(4){
				.system__order-number{
					background-color: material-color('red','400');
				}
			}
			&:nth-child(5){
				.system__order-number{
					background-color: material-color('teal','400');
				}
			}
			&:nth-child(6){
				.system__order-number{
					background-color: material-color('green','400');
				}
			}
			// --
			&:nth-child(7){
				.system__order-number{
					background-color: material-color('lime','500');
				}
			}
			&:nth-child(8){
				.system__order-number{
					background-color: material-color('brown','400');
				}
			}
			&:nth-child(9){
				.system__order-number{
					background-color: material-color('indigo','400');
				}
			}
			// --
			&:nth-child(10){
				.system__order-number{
					background-color: material-color('red','500');
				}
			}
			&:nth-child(11){
				.system__order-number{
					background-color: material-color('deep-orange','300');
				}
			}
			&:nth-child(12){;
				.system__order-number{
					background-color: material-color('light-green','600');
				}
			}
			@media (min-width: $screen-lg-min){
				// --
				&:nth-child(1){
					top: -108px; left: 50%; margin-left: 60px;
					.system__order-number{
						top: 60px; margin-right: 2px;
					}
				}
				&:nth-child(2){
					top: 12px; left: 50%; margin-left: 188px;
					.system__order-number{
						//
					}
				}
				&:nth-child(3){
					top: 132px; left: 50%; margin-left: 288px;
					.system__order-number{
						//
					}
				}
				// --
				&:nth-child(4){
					bottom: 132px; left: 50%; margin-left: 288px;
					.system__order-number{
						//
					}
				}
				&:nth-child(5){
					bottom: 12px; left: 50%; margin-left: 188px;
					.system__order-number{
						//
					}
				}
				&:nth-child(6){
					bottom: -108px; left: 50%; margin-left: -160px;
					.system__order-number{
						top: 0px; margin-right: 2px;
					}
				}
				// &:nth-child(6){
				// 	bottom: -108px; left: 50%; margin-left: 60px;
				// 	.system__order-number{
				// 		top: 0px; margin-right: 2px;
				// 	}
				// }
				// --
				// &:nth-child(7){
				// 	bottom: -108px; right: 50%; margin-right: 60px;
				// 	.system__order-number{
				// 		//
				// 		top: 0px; margin-left: 2px;
				// 	}
				// }
				&:nth-child(7){
					bottom: 12px; right: 50%; margin-right: 188px;
					.system__order-number{
						//
					}
				}
				&:nth-child(8){
					bottom: 132px; right: 50%; margin-right: 288px;
					.system__order-number{
						//
					}
				}
				// --
				&:nth-child(9){
					top: 132px; right: 50%; margin-right: 288px;
					.system__order-number{
						//
					}
				}
				&:nth-child(10){
					top: 12px; right: 50%; margin-right: 188px;
					.system__order-number{
						//
					}
				}
				&:nth-child(11){
					top: -108px; right: 50%; margin-right: 60px;
					.system__order-number{
						top: 60px; margin-left: 2px;
						//
					}
				}
			}
		}
	}
}

.isg-front-preview{
	position: relative;
	background-color: #fff;
	overflow: hidden;
	@media (min-width: $screen-sm-min){
		height: 380px;
	}
	@media (min-width: $screen-md-min){
		height: 480px;
	}
	@media (min-width: $screen-lg-min){
		height: 560px;
	}
	.background-wrap{
		position: absolute;
		top: 0; left: 0; right: 0;
		.container-fluid{
			overflow: hidden;
		}
		div[class^="col"]{
			padding: 0 !important;
		}
		.image-bg{
			@media (min-width: $screen-sm-min){
				height: 400px;
			}
			@media (min-width: $screen-md-min){
				height: 480px;
			}
			@media (min-width: $screen-lg-min){
				height: 560px;
			}
		}
		.triangle-bottom{
			position: absolute;
			bottom: 0; right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 140px 1920px;
			border-color: transparent transparent #ffffff transparent;
			@media (min-width: $screen-lg-min){
				border-width: 0 0 180px 1920px;
			}
		}
	}
	.content-wrap{
		margin: 0 -12px;
		padding: 48px 24px 128px;
		text-align: center;
		background-color: $blue400;
		@media (min-width: $screen-lg-min){
			padding: 96px 0;
		}
		.ht-title{
			position: relative;
			padding-bottom: 16px;
			margin: 0 0 24px;
			line-height: 1.5;
			font-size: 20px;
			font-weight: 300;
			color: #fff;
			&:after{
				content: "";
				display: block;
				position: absolute;
				width: 56px; height: 2px;
				bottom: 0; left: 50%; 
				margin-left: -28px;
				background-color: rgba(#fff,.54);
			}
		}
		.ht-subtitle{
			line-height: 1.5;
			font-size: 16px;
			font-weight: 400;
			color: #fff;
		}
		.ht-actions{
			margin: 36px 0;
			a{
				display: inline-block;
				vertical-align: top;
				margin: 0 8px 0 0;
				img{
					height: 48px;
				}
			}
		}
		@media(min-width: $screen-sm-min){
			padding: 36px 24px;
			text-align: left;
			background-color: transparent;
			.ht-title{
				padding-bottom: 28px;
				margin: 0 0 28px;
				&:after{
					left: 0; 
					margin-left: 0;
				}
			}
		}
		@media(min-width: $screen-md-min){
			padding: 72px 24px;
			.ht-title{
				padding-bottom: 36px;
				margin: 0 0 40px;
				font-size: 24px;
				&:after{
					width: 72px;
				}
			}
			.ht-subtitle{
				font-size: 16px;
			}
		}
		@media(min-width: $screen-lg-min){
			padding: 80px 0;
			.ht-title{
				padding-bottom: 24px;
				margin: 0 0 28px;
				font-size: 28px;
				&:after{
					width: 80px;
				}
			}
			.ht-subtitle{
				font-size: 16px;
			}
		}
	}
	.img-mockup{
		padding-bottom: 0;
		text-align: center;
		position: relative;
		top: -72px;
		img{
			width: 60%;
			display: inline-block;
		}
		@media(min-width: $screen-sm-min){
			position: absolute;
			width: 60%;
			top: 48px; left: 50%;
			text-align: left;
			img{
				width: 100%;
			}
		}
	}
}
.isg-main-features{
	.s-header{
		margin-top: 48px;
	}
	.s-content{
		margin: 24px 0 36px;
		padding: 12px 0;
	}
	@media (max-width: $screen-sm-max){
		.isg-feature-wrap{
			position: relative;
			width: 100%; max-width: 360px;
			margin: 0 auto;
			overflow: visible;
			.lines-wrap{
				display: none;
			}
			.circle-center{
				width: 280px;
				height: 280px;
				margin: 36px auto 0;
				background-color: #fff;
				border-radius: 160px;
				padding: 48px 48px;
				box-shadow: 0 1px 4px 1px rgba(#000,.1);
				.btn-wrap{
					position: relative;
					padding-top: 20px;
					margin: 20px 0 0;
					&:before{
						content: "";
						display: block;
						position: absolute;
						width: 48px; height: 2px;
						top: 0; left: 50%;
						margin-left: -24px;
						background-color: #e0e0e0;
					}
				}
			}
			.single-feature{
				margin-bottom: 8px;
				a{
					display: block;
					position: relative;
					border-radius: 28px;
					background-color: #fff;
					box-shadow: 0 1px 3px 0 rgba(#000,.1);
					.text-wrap{
						text-align: center;
						position: relative;
						display: block;
						height: 40px;
						line-height: 24px;
						font-size: 16px;
						font-weight: 500;
						white-space: nowrap;
						color: #555; 
						border-radius: 28px;
						@include transition(padding .2s ease-in-out);
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						&:after{
							content:"";
							display: block;
							position: absolute;
							width: 0; height: 2px;
							background-color: #ccc;
							@include transition(all .2s ease-in-out .1s);
						}
					}
					.icon-wrap{
						position: relative;
						display: block;
						position: absolute;
						width: 32px;
						height: 32px;
						padding: 8px;
						border-radius: 24px;
						overflow: hidden;
						.icon-bg{
							display: block;
							width: 28px; height: 28px;
							@include scale(.58);
							transform-origin: 0 0;
						}
					}
				}
				&{
					a{
						padding: 0 0 0 56px;
						.text-wrap{
							padding: 8px 24px 8px 4px;
						}
						.icon-wrap{
							top: 4px; left: 4px;
						}
					}
				}
			}
		}
	}
	@media (min-width: $screen-md-min){
		.s-header{
			margin-top: 48px;
		}
		.s-content{
			margin: 96px 0 120px;
			padding: 164px 0;
		}
		.isg-feature-wrap{
			position: relative;
			width: 480px;
			height: 480px;
			margin: 0 auto;
			overflow: visible;
			// border: 1px solid #999;
			// border-left: 0;
			// border-right: 0;
			.lines-wrap{
				position: relative;
				width: 480px;
				height: 480px;
				border-radius: 480px;
				background-color: transparent;
				.single-line{
					display: block;
					position: absolute;
					top: 50%; left: 0;
					width: 240px;
					height: 2px;
					margin-top: -1px;
					border-top: 2px dashed material-color('blue','800');
					transform-origin: center right;
					// z-index: 99999;
					&:nth-child(2){ @include rotate(17deg); }
					&:nth-child(3){ @include rotate(34deg); }
					&:nth-child(4){ @include rotate(52deg); width: 250px; left: -10px; }
					&:nth-child(5){ @include rotate(68deg); width: 280px; left: -40px;}
					&:nth-child(6){ @include rotate(81deg); width: 680px; margin-top: 338px; left: -388px;}
					&:nth-child(7){ @include rotate(99deg); width: 680px; margin-top: 338px; left: -492px;}
					&:nth-child(8){ @include rotate(112deg); width: 280px; left: -40px; }
					&:nth-child(9){ @include rotate(128deg); width: 250px; left: -10px; }
					&:nth-child(10){ @include rotate(146deg); }
					&:nth-child(11){ @include rotate(163deg); }
					&:nth-child(12){ @include rotate(180deg); }
					&:nth-child(13){ @include rotate(198deg); }
					&:nth-child(14){ @include rotate(216deg); }
					&:nth-child(15){ @include rotate(234deg); }
					&:nth-child(16){ @include rotate(251deg); width: 300px; left: -60px; }
					&:nth-child(17){ @include rotate(270deg); width: 760px; margin-top: -380px; left: -520px; }
					&:nth-child(18){ @include rotate(289deg); width: 300px; left: -60px; }
					&:nth-child(19){ @include rotate(306deg); }
					&:nth-child(20){ @include rotate(324deg); }
					&:nth-child(21){ @include rotate(342deg); }
					// &:nth-child(5){ @include rotate(72deg);  width: 560px; left: -40px; }
					// &:nth-child(6){ @include rotate(90deg); width: 560px; left: -40px;}
					// &:nth-child(7){ @include rotate(108deg); width: 560px; left: -40px; }
					// &:nth-child(8){ @include rotate(126deg); }
					// &:nth-child(9){ @include rotate(144deg); }
					// &:nth-child(10){ @include rotate(162deg); }
				}
			}
			.circle-center{
				position: absolute;
				top: 50%; left: 50%;
				margin-top: -160px; 
				margin-left: -160px;
				width: 320px;
				height: 320px;
				background-color: #fff;
				border-radius: 160px;
				padding: 56px;
				box-shadow: 0 1px 4px 1px rgba(#000,.1);
				.btn-wrap{
					position: relative;
					padding-top: 24px;
					margin: 30px 0 0;
					&:before{
						content: "";
						display: block;
						position: absolute;
						width: 48px; height: 2px;
						top: 0; left: 50%;
						margin-left: -24px;
						background-color: #ccc;
					}
					
				}
			}
			.single-feature{
				position: absolute;
				margin-right: 0; margin-top: 0;
				a{
					display: block;
					position: relative;
					border-radius: 28px;
					background-color: #fff;
					box-shadow: 0 1px 3px 0 rgba(#000,.1);
					.text-wrap{
						position: relative;
						display: block;
						height: 56px;
						line-height: 24px;
						font-size: 18px;
						font-weight: 500;
						white-space: nowrap;
						color: #555; 
						border-radius: 28px;
						@include transition(padding .2s ease-in-out);
						&:after{
							content:"";
							display: block;
							position: absolute;
							width: 0; height: 2px;
							background-color: #ccc;
							@include transition(all .2s ease-in-out .1s);
						}
					}
					.icon-wrap{
						position: relative;
						display: block;
						position: absolute;
						width: 48px;
						height: 48px;
						padding: 10px;
						border-radius: 24px;
						overflow: hidden;
						.icon-bg{
							display: block;
							width: 28px; height: 28px;
							// background-size: 28px;
						}
						&:after{
							content:"";
							display: block;
							position: absolute;
							width: 18px; height: 48px;
							background-color: rgba(#fff,.2);
							@include transition(all .4s ease-in-out .2s);
						}
					}
					&:hover,
					&:active,
					&:focus{
						outline: none;
					}
				}
				&.icon-left{
					a{
						padding: 0 56px 0 0;
						.text-wrap{
							padding: 16px 12px 16px 28px;
							&:after{
								width: 0;
								bottom: 12px; right: 12px;
							}
						}
						.icon-wrap{
							top: 4px; right: 4px;
							&:after{
								top: 0; left: -18px;
							}
						}
						&:hover{
							.text-wrap{
								padding: 12px 12px 20px 28px;
								&:after{
									width: 28%;
								}
							}
							.icon-wrap{
								&:after{
									left: 100%;
								}
							}
						}
					}
				}
				&.icon-right{
					a{
						padding: 0 0 0 56px;
						.text-wrap{
							padding: 16px 28px 16px 12px;
							&:after{
								width: 0;
								bottom: 12px; left: 12px;
							}
						}
						.icon-wrap{
							top: 4px; left: 4px;
							&:after{
								top: 0; right: -18px;
							}
						}
						&:hover{
							.text-wrap{
								padding: 12px 28px 20px 12px;
								&:after{
									width: 28%;
								}
							}
							.icon-wrap{
								&:after{
									right: 100%;
								}
							}
						}
					}
				}
				&.icon-top{
					a{
						padding: 0;
						// width: 180px;
						.text-wrap{
							padding: 16px 20px 16px 20px;
							text-align: center;
							&:after{
								opacity: 0;
								width: 48px;
								bottom: 12px; left: 50%;
								margin-left: -24px;
							}
						}
						.icon-wrap{
							width: 56px;
							height: 56px;
							bottom: 100%; left: 50%; 
							margin-bottom: -8px;
							margin-left: -28px;
							border: 4px solid #fff;
							border-radius: 28px;
							box-shadow: 0 1px 3px 0 rgba(#000,.1);
							&:after{
								top: 0; left: -18px;
							}
						}
						&:hover{
							.text-wrap{
								padding: 12px 20px 20px 20px;
								&:after{
									opacity: 1;
								}
							}
							.icon-wrap{
								&:after{
									left: 100%;
								}
							}
						}
					}
				}
				&.icon-bottom{
					a{
						padding: 0;
						// width: 180px;
						.text-wrap{
							padding: 16px 20px 16px 20px;
							text-align: center;
							&:after{
								opacity: 0;
								width: 48px;
								bottom: 12px; left: 50%;
								margin-left: -24px;
							}
						}
						.icon-wrap{
							width: 56px;
							height: 56px;
							top: 100%; left: 50%; 
							margin-top: -8px;
							margin-left: -28px;
							border: 4px solid #fff;
							border-radius: 28px;
							box-shadow: 0 1px 3px 0 rgba(#000,.1);
							&:after{
								top: 0; right: -18px;
							}
						}
						&:hover{
							.text-wrap{
								padding: 12px 12px 20px 12px;
								&:after{
									opacity: 1;
								}
							}
							.icon-wrap{
								&:after{
									right: 100%;
								}
							}
						}
					}
				}
				&.pos-top-center{ bottom: 100%; left: 50%; margin-bottom: 150px; @include translateX(-50%); }
				&.pos-top-left{ top: -138px; right: 100%; margin-right: -196px; }
				&.pos-left-1st{ top: -68px; right: 100%; margin-right: -156px; }
				&.pos-left-2nd{ top: 2px; right: 100%; margin-right: -104px; }
				&.pos-left-3rd{ top: 72px; right: 100%; margin-right: -64px; }
				&.pos-left-4th{ top: 142px; right: 100%; margin-right: -46px; }
				&.pos-left-5th{ top: 212px; right: 100%; margin-right: -40px; }
				&.pos-left-6th{ bottom: 142px; right: 100%; margin-right: -46px; }
				&.pos-left-7th{ bottom: 72px; right: 100%; margin-right: -64px; }
				&.pos-left-8th{ bottom: 2px; right: 100%; margin-right: -104px; }
				&.pos-left-9th{ bottom: -68px; right: 100%; margin-right: -152px; }
				&.pos-bottom-left{ bottom: -138px; right: 100%; margin-right: -196px; }

				&.pos-top-right{ top: -138px; left: 100%; margin-left: -196px; }
				&.pos-right-1st{ top: -68px; left: 100%; margin-left: -156px; }
				&.pos-right-2nd{ top: 2px; left: 100%; margin-left: -104px; }
				&.pos-right-3rd{ top: 72px; left: 100%; margin-left: -64px; }
				&.pos-right-4th{ top: 142px; left: 100%; margin-left: -46px; }
				&.pos-right-5th{ top: 212px; left: 100%; margin-left: -40px; }
				&.pos-right-6th{ bottom: 142px; left: 100%; margin-left: -46px; }
				&.pos-right-7th{ bottom: 72px; left: 100%; margin-left: -64px; }
				&.pos-right-8th{ bottom: 2px; left: 100%; margin-left: -104px; }
				&.pos-right-9th{ bottom: -68px; left: 100%; margin-left: -152px; }

				&.pos-bottom-right{ bottom: -138px; left: 100%; margin-left: -196px; }
				&.pos-bottom-center{ top: 100%; left: 50%; margin-top: 150px; @include translateX(-50%); }
			}
			.ellipse01{
				// display: none;
				position: absolute;
				top: 50%; left: 50%;
				margin-top: -280px; margin-left: -220px;
				width: 440px;
				height: 560px;
				border: 1px solid rgba(#000,.2);
				border-radius: 220px / 280px;
			}
		}
		.circle-center{
			position: absolute;
			top: 50%; left: 50%;
			width: 320px;
			height: 320px;
			margin-top: -160px; 
			margin-left: -160px;
		}
	}
}
.isg-video-intro{
	.enable-modal-video-btn{
		display: block;
		padding: 56px 0;
		background-color: material-color('grey','500');
		@media ($screen-md-min){
			padding: 96px 0;
		}
		@media ($screen-lg-min){
			padding: 128px 0;
		}
		span{
			display: block;
		}
		.ht-icon{
			color: #fff;
			display: block;
			i{
				display: inline-block;
				line-height: 96px;
				font-size: 96px;
			}
		}
		.ht-guide{
			margin-top: 16px;
			line-height: 24px;
			font-size: 18px;
			color: #fff;
		}
		&:hover{
			opacity: .9;
		}
	}
}
.isg-register-company{
	padding: 40px 0;
	background-color: #fff;
	.center-box{
		padding: 24px 0;
		.s-subtitle{
			margin: 0 0 8px;
			font-size: 18px;
			color: $grey700;
		}
		.s-title{
			margin-top: 12px;
			font-size: 28px;
			font-weight: 300;
			color: $grey900;
		}
		.has-bdb{
			padding-bottom: 16px;
		}
		.s-action{
			margin-top: 16px;
			// .btn{
			// 	padding: 12px 40px 12px;
			// 	line-height: 24px;
			// 	font-size: 18px;
			// 	border-radius: 24px;
			// }
		}
	}
}
.isg-app-features{
	.section-content{
		margin: 48px 0 0;
		@media (max-width: $screen-xs-max){
			padding: 0 24px;
		}
	}
	.list-app-features{
		margin: 0 -12px;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
	.single-app-card{
		position: relative;
		width: calc(100% - 24px);
		margin: 0 12px 24px;
		padding: 0;
		border-radius: 2px;
		background-position: bottom 12px right 12px;
		background-repeat: no-repeat;
		background-size: 48px 48px;
		@media (min-width: $screen-sm-min){
			width: calc(50% - 24px);
			background-size: 72px 72px;
		}
		@media (min-width: $screen-md-min){
			width: calc(33.3333% - 24px);
			background-size: 96px 96px;
		}
		.card-header{
			display: block;
			border-radius: 2px 2px 0 0;
			color: #fff;
			.card-header-inner{
				padding: 12px 12px;
				@include transition(background-color .1s ease-in-out);
			}
			a{
				color: #fff;
			}
			.app__title{
				margin: 0;
				padding: 3px 12px 1px 0;
				line-height: 24px;
				font-size: 18px;
				color: #fff;
			}
			.app__title-icon{
				margin-right: -2px;
				width: 32px;
				height: 32px;
				background-color: rgba(#000,.16);
				border-radius: 50%;
				text-align: center;
				i{
					display: block;
					padding: 2px 0 0 1px;
					line-height: 30px;
					font-size: 22px;
					color: #fff;
				}
			}
		}
		a.card-header{
			&:hover{
				.card-header-inner{
					background-color: rgba(#000,.12);
				}
			}
		}
		.card-content{
			padding: 8px 12px;
		}
		.app__list-features{
			.app__single-feature{
				position: relative;
				line-height: 20px;
				font-size: 16px;
				border-bottom: 1px dotted #e0e0e0;
				&:before{
					content: "\f373";
					display: block;
					position: absolute;
					top: 8px; left: 0;
					width: 22px;
					padding: 0 2px;
					line-height: 22px;
					font-family: "Ionicons";
			    speak: none;
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    text-rendering: auto;
			    line-height: 1;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    color: $grey400;
				}
				&:after{
					content: "\f3d3";
					display: block;
					position: absolute;
					top: 8px; right: 0;
					width: 18px;
					padding: 0 2px;
					line-height: 28px;
					font-size: 20px;
					font-family: "Ionicons";
			    speak: none;
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    text-rendering: auto;
			    line-height: 1;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    color: $grey700;
				}
				&:last-child{
					border-bottom: 0;
				}
				span{
					display: block;
					padding: 8px 20px 8px 24px;
				}
				a{
					display: block;
					padding: 8px 24px 8px 24px;
					color: $grey900;
					@include transition(padding .2s ease-in-out);
					&:hover{
						color: $green500;
						padding-left: 28px;
						&:after{
							color: $green500;
						}
					}
				}
			}
		}
		.app__actions{
			margin: 0 -6px;
			.single-app-action{
				display: table-cell;
				width: 1%;
				padding: 0 6px;
			}
		}
		&.has-footer-actions{
			background-position: bottom 71px right 12px;
			padding-bottom: 59px;
			background-color: $grey50;
			.card-footer{
				position: absolute;
				bottom: 0; left: 0; right: 0;
				padding: 12px;
				border-top: 1px solid #eee;
			}
		}
	}
	
}



.isg-front-section{
	padding: 48px 0;
	.section-header{
		&.section-header--front-page{
			padding: 0 0 28px;
			position: relative;
			&:after{
				content: "";
				display: block;
				position: absolute;
				width: 96px; height: 2px;
				bottom: 0; left: 50%;
				margin-left: -48px;
				background-color: #e0e0e0;
			}
			.section-header__title{
				line-height: 1.5;
				font-size: 24px;
				font-weight: 300;
				@media (min-width: $screen-md-min){
					font-size: 28px;
				}
				@media (min-width: $screen-lg-min){
					font-size: 32px;
				}
			}
		}
	}
}
	
