// 01

.landing__enterprise-management-system{
	//
}
 
.landing__ems-intro-section{
	position: relative;
	text-align: center;
	margin: 0 0 72px;
	.ems-intro__content{
		padding: 56px 0 240px;
		@media (min-width: $screen-sm-min){
			padding: 56px 0 480px;
		}
	}
	.ems-intro__title{
		margin: 0;
		padding: 0;
		line-height: 1.4;
		font-size: 36px;
		font-weight: 300;
		color: $grey900;
		@media (min-width: $screen-sm-min){
			font-size: 48px;
		}
	}
	.ems-intro__subtitle{
		margin: 12px 0 0;
		line-height: 1.5;
		font-size: 15px;
		color: $grey900;
		@media (min-width: $screen-sm-min){
			font-size: 18px;
		}
	}
	.ems-intro__preview{
		.devices-wrapper{
			max-width: 100%;
			overflow: hidden;
			img{
				max-width: none;
			}
		}
	}
	.device-desktop{
		position: absolute;
		bottom: -72px; right: 50%; margin-right: -128px;
		img{
			display: block;
			height: 240px;
		}
		@media (min-width: $screen-sm-min){
			bottom: -72px; right: 50%; margin-right: -224px;
			img{
				display: block;
				height: 480px;
			}
		}
	}
	.device-mobile{
		position: absolute;
		bottom: -72px; left: 50%; margin-left: 44px;
		img{
			display: block;
			height: 134px;
		}
		@media (min-width: $screen-sm-min){
			bottom: -72px; left: 50%; margin-left: 120px;
			img{
				display: block;
				height: 268px;
			}
		}
	}
}

.landing__ems-detail-section{
	padding: 96px 0;
	text-align: center;
	@media (min-width: $screen-sm-min){
		padding: 48px 0;
		text-align: left;
	}
	& + .landing__ems-detail-section{
		padding-top: 0;
	}
	.section__wrapper{
		@media (min-width: $screen-sm-min){
			display: flex;
			align-items: center;
			&.reversed{
				flex-direction: row-reverse;
				.ems-benefit__preview-devices{
					margin: 0 96px 0 0;
				}
			}
			.section__single-col{
				min-width: 0;
				width: 50%;
			}
		}
	}
	.ems-benefit__title{
		margin: 0;
		padding: 0 12px;
		line-height: 1.4;
		font-size: 24px;
		font-weight: 300;
		color: $grey900;
		@media (min-width: $screen-sm-min){
			padding: 0 0;
			font-size: 30px;
		}
	}
	.ems-benefit__content{
		margin: 24px 0 0;
		padding: 0 12px;
		line-height: 20px;
		font-size: 14px;
		color: $grey700;
		p{
			position: relative;
			margin: 0 0 8px;
			padding: 0 0 0 24px;
			&:after{
				position: absolute;
				top: 4px; left: 0;
				display: block;
				color: $blue200;
				font-size: 18px;
				font: normal normal normal 14px/1 FontAwesome;
				content: "\f046";
			}
		}
		@media (min-width: $screen-sm-min){
			padding: 0 0;
			line-height: 22px;
			font-size: 16px;
			p{
				margin: 0 0 12px;
			}
		}
	}
	.ems-benefit__preview-devices{
		margin: 24px auto 0;
		max-width: 320px;
		@media (min-width: $screen-sm-min){
			margin: 0 0 0 96px;
			max-width: none;
		}
	}
}

.landing__ems-prices-section{
	padding: 48px 0;
	.section-header{
		margin: 0 0 48px;
		text-align: center;
		.section-header__title{
			margin: 0;
			padding: 0;
			line-height: 1.4;
			font-size: 36px;
			font-weight: 300;
			color: $grey900;
		}
		.section-header__subtitle{
			margin: 12px 0 0;
			line-height: 1.5;
			font-size: 16px;
			color: $grey900;
		}
	}
	
}

.list-ems-prices{
	@media (max-width: $screen-xs-max){
		max-width: 480px;
		margin: 0 auto;
	}
	@media (min-width: $screen-sm-min){
		display: flex;
		flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
		margin: 0 -12px;
	}
	.single-ems-price-card{
		position: relative;
		min-width: 0;
		margin: 0 12px 24px;
		padding: 0 0 72px;
		text-align: center;
		border-radius: 2px;
		@media (min-width: $screen-sm-min){
			width: calc(33.333% - 24px);
		}
		.card-header{
			padding: 16px 24px;
			background-color: $grey500;
			border-radius: 2px 2px 0 0;
			.ems-price__title{
				margin: 0;
				padding: 0;
				line-height: 30px;
				font-size: 24px;
				font-weight: 300;
				color: #fff;
			}
			.ems-price__price{
				margin: 12px 0 0;
				padding: 12px 0 0;
				font-size: 20px;
				line-height: 26px;
				color: #fff;
				border-top: 1px solid rgba(#fff,.12);
				span{
					display: inline-block;
					vertical-align: baseline;
					font-size: 14px;
					line-height: 20px;
					padding: 0 2px;
				}
				.money-currency{
					vertical-align: top;
				}
			}
		}
		.card-content{
			padding: 16px 24px;
		}
		.card-footer{
			bottom: 0; left: 0; right: 0;
			position: absolute;
			padding: 12px 24px;
			background-color: $grey50;
		}
		.ems-price__list-features{
			.ems-price__single-feature{
				padding: 8px 0;
				line-height: 24px;
				font-size: 16px;
				border-bottom: 1px dotted #e0e0e0;
				&:last-child{
					border-bottom: 0;
				}
			}
		}
	}
}
.landing__free-register{
	padding: 48px 0;
	@media (min-width: $screen-md-min){
		padding: 72px 0;
	}
}

.modal--select-shop{
	.modal-content{
		.modal-header{
			padding: 16px 12px;
			border-bottom: 1px solid #eaeaea;
		}
		.modal-body{
			//
		}
		.modal-footer{
			padding: 12px;
			// background-color: $grey100;
			border-top: 1px solid #eaeaea;
		}
		.system-plan__title{
			margin: 0 0 10px;
			line-height: 24px;
			font-size: 18px;
			font-weight: 400;
			.system-plan--name{
				border-bottom: 2px solid $blue300;
			}
		}
		.system-plan__detail{
			p{
				line-height: 20px;
				font-size: 14px;
				margin-bottom: 6px;
				color: $grey700;
				&:last-child{
					margin: 0;
				}
			}
		}
		.system-plan__select-shop{
			.select-input{
				height: 40px;
				padding: 8px 12px;
				line-height: 24px;
				font-size: 16px;
				text-align: center !important;
				-webkit-appearance: none;
	   		-moz-appearance:    none;
	   		appearance:         none;
	   		text-align-last:center;
	   		background-image: url('../img/down-arrow.png');
	   		background-size: 12px;
	   		background-position: right 16px center;
	   		background-repeat: no-repeat;
			} 
			.input-group.bootstrap-touchspin{
				.input-group-btn:first-child{
					.btn{
						border-right: 0;
					}
				}
			}
			.form-control--quantity{
				text-align: center;
				&:focus{
					border-color: #ccc;
				}
			}
		}
	}
}