// LAYOUTS

#siteContainer{
	position: relative;
}
#siteContent{
	position: relative;
}
.container{
	&.has-max-width-on-xs-screen{
		@media (max-width: $screen-xs-max){
			max-width: 480px !important;
		}
	}
}

// -----------
// Support Page
.support-page-header{
	padding: 24px 0 16px;
	text-align: center;
	@media (min-width: $screen-md-min){
		padding: 28px 0 24px;
	}
	.site-logo{
		margin: 0 0 16px;
		a{
			display: inline-block;
			vertical-align: top;
			height: 48px;
			width: 155px;
			&:hover{
				opacity: .8;
			}
			&:active{
				opacity: .6;
			}
		}
	}
	.page-descr{
		margin: 0 0;
		line-height: 24px;
		font-size: 18px;
		font-weight: 400;
		color: #fff;
	}
	.go-to-home-wrap{
		padding-top: 12px;
		@media (min-width: $screen-md-min){
			padding-top: 2px;
			text-align: right;
		}
		a{
			display: inline-block;
			vertical-align: top;
			padding: 2px 0;
			line-height: 20px;
			font-size: 14px;
			color: rgba(#fff,.9);
		}
	}
	.search-form{
		margin: 16px 0 0;
		@media (min-width: $screen-md-min){
			margin: 24px 0 0;
		}
		.form-group{
			position: relative;
		}
		.search-input{
			padding: 8px 68px 10px 12px;
			border-color: transparent;
		}
		.search-submit{
			display: block;
			position: absolute;
			top: 0; right: 0;
			border-color: transparent;
		}
	}
}
.ht-sidebar{
  display: block;
}

// -----------
// 

.ht-template-detail{
	.ht-wrapper{
		@include display-flex(flex);
		@include flex-direction(column-reverse);
		@media (min-width: $screen-sm-min){
			@include flex-direction(row);
			@include align-items(center);

		}
	}
	.template-detail,
	.template-preview{

	}
	.template-detail{
		flex: 1;
		padding: 24px 0;
		text-align: center;
		@media (min-width: $screen-sm-min){
			padding: 28px 0;
			flex: 1;
			text-align: left;	
		}
		@media (min-width: $screen-md-min){
			padding: 48px 0;
			flex: 1;
			text-align: left;	
		}
		.detail-wrap{
			padding: 12px 0;
		}
		.t-subtitle{
			margin: 0 0 12px;
			font-size: 16px;
			color: $grey600;
		}
		.t-title{
			margin: 16px 0 12px;
			font-size: 24px;
		}
		.t-excerpt{
			height: 57px;
			line-height: 19px;
			font-size: 14px;
			@include multiLineEllipsis(3);
		}
		.t-price{
			margin: 8px 0 0;
			line-height: 36px;
			font-size: 30px;
			font-weight: 500;
			color: $blue500;
			@media (min-width: $screen-sm-min){
				text-align: left;
			}
		}
		.t-rating{
			margin: 8px 0 0;
			padding: 8px 0 8px; 
			line-height: 24px;
			font-size: 0;
			@media (min-width: $screen-sm-min){
				text-align: right;
			}
			i{
				display: inline-block;
				vertical-align: top;
				margin: 0 1px;
				line-height: 24px;
				font-size: 14px;
				color: material-color('yellow','800');
			}
		}
		.action-wrap{
			margin: 0;
			padding: 12px 0;
		}
		.t-single-action{
			// font-weight: 500;
		}
	}
	.template-preview{
		text-align: center;
		padding: 12px 24px;
		flex: 1;
		@media (min-width: $screen-sm-min){
			flex: 2;
			position: relative;
			height: 100%;
			min-height: 320px;
			padding: 0 0 0 48px;
		}
		img{
			display: inline-block;
			@media (min-width: $screen-sm-min){
				// display: block;
				// position: absolute;
				// max-height: 90%;
				// max-width: 90%;
				// &.bottom-right{
				// 	bottom: 0;
				// 	right: 0;
				// }
				// &.bottom-left{
				// 	bottom: 0;
				// 	left: 0;
				// }
			}	
		}
	}
	&.on-carousel{
		.template-detail{
			margin-bottom: 96px;
			.action-wrap{
				margin-top: 24px;
			}
		}
	}
}

// -----------
// 



