// SIGN IN & SIGN UP

.ht-sign-in-cards-container{
	// padding: 24px 0;
}
.sign-in-page-content{
	.ht-sign-in-cards-container{
		padding: 32px 24px 64px;
		@media (min-width: $screen-md-min){
			padding: 48px 24px 96px;
		}
		@media (min-width: $screen-lg-min){
			padding: 56px 24px 112px;
		}
	}
}

.ht-sign-in-card{
	padding: 0;
	.card-header{
		display: flex;
		align-items: center;
		margin: 0;
		padding: 16px 16px;
		background-color: $grey50;
		.card-title{
			flex: 1 1 auto;
			margin: 0;
			line-height: 24px;
			font-size: 18px;
			font-weight: 500;
			@media (min-width: $screen-md-min){
				line-height: 30px;
				font-size: 22px;
			}
		}
		.card-subtitle{
			margin: 5px 0 0;
			line-height: 16px;
			font-size: 12px;
			font-weight: 400;
			color: $grey600;
			@media (min-width: $screen-md-min){
				line-height: 19px;
				font-size: 13px;
			}
		}
		&.no-flex{
			display: block;
			.card-title{
				display: block;
			}
			.card-subtitle{
				display: block;
			}
		}
	}
	.card-content{
		padding: 16px;
	}
	.card-footer{
		padding: 12px 16px;
		border-top: $border;
	}

	//
	.sign-in-form{
		//
	}
	.sign-up-form{
		.form-group{
			@media (min-width: $screen-sm-min){
				display: flex;
				align-items: center;
			}
			& > label{
				display: block;
				margin-bottom: 0;
				padding: 0 12px 0 0;
				flex: 0 0 30%;
			}
		}
	}

	//
	.already-has-account{
		font-size: 13px;
	}
	.agree-terms{
		line-height: 16px;
		font-size: 12px;
		color: $grey500;
	}
	.profile-image-upload{
		.profile-image-preview{
			position: relative;
			padding: 2px;
			border: $border;
			border-radius: 2px;
			.image-wrapper{
				width: 128px;
				height: 128px;
				background-color: $grey200;
			}
			.image-action{
				display: block;
				position: absolute;
				top: 6px; right: 6px;
				padding: 3px 7px;
				line-height: 16px;
				font-size: 12px;
				font-weight: 600;
				background-color: rgba(#fff,.75);
				border: $border;
				border-radius: 2px;
				color: $grey800;
				&:hover{
					background-color: #fff;
				}
			}
		}
	}

	
}



